<ul>
    <li class="listo">
        <img src="https://pics.craiyon.com/2023-07-15/dc2ec5a571974417a5551420a4fb0587.webp" class="avatar">
        <div  class="dr">
            Dr Maryam
        </div>
        <div class="spec">
            Radiologist
        </div>
        <div>
            12 June '20
        </div>
        <div>
            09:00-10:00
        </div>
        <div>
            Treatement
        </div>

        <div>
            CT scans
        </div>

        <div>

            Contact Number

        </div>

        <div>
            +123 676545655
        </div>

    </li>
    <li>Tea</li>
    <li>Milk</li>
</ul>