<div class="container">
    <a href="#"><img src="https://cdn.worldvectorlogo.com/logos/health-link.svg" alt="logo" class="logo-image"></a>
    <div class="social-icons">
      <button mat-mini-fab color="light"><mat-icon>facebook</mat-icon></button>
      <button mat-mini-fab color="light"><mat-icon>twitter</mat-icon></button>
      <button mat-mini-fab color="light"><mat-icon>linkedin</mat-icon></button>
    </div>
    <div class="footer-links">
      <ul>
        <li class="heading">Products</li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Features</a></li>
      </ul>
      <ul>
        <li class="heading">Support</li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
      <ul>
        <li class="heading">About Us</li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="site-info">© 2024 All Rights Reserved</div>
  </footer>
  