.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  svg {
    border: 1px solid black;
  }
  
  circle {
    cursor: pointer;
  }
  
  .info-panel {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    font-family: Arial, sans-serif;
  }


  