<div>
  <h3>Chat With Doctor</h3>
  <div>
    <!-- Chat Input Section -->
    <div>
      <mat-card>
        <mat-form-field>
          <textarea matInput placeholder="Enter your message" [(ngModel)]="newMessage" rows="3"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="sendMessage()">Send</button>
      </mat-card>
    </div>
    <!-- Chat Messages Section -->
    
    <div>
      <div>
        <div *ngFor="let message of messages">
          <mat-card>
            <p>{{ message }}</p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngFor="let chat of chats">
  <p>{{chat}}</p>
</div>