<!-- topbar code -->

<!-- topbar code -->
<div id="nav" class="toolbar" color="primary">
  <h1><img src="https://i.ibb.co/NKnJZ5L/download.png" alt="logo" width="40" height="40" style="background-color: transparent; margin-top: 0.25vw; margin-left: 0.5vw;" /></h1>
  <!-- <h1 class="jello-vertical">HealthLink 360</h1> -->


  <h1><a class="nav-link" (click)="goBack()">Back</a></h1>
  <h1><a class="nav-link" routerLink="/patient/medicalStore">Medicines</a></h1>
  <h1><a class="nav-link" routerLink="/patient/labTests">Lab Tests</a></h1>
 
</div> 

<br>
<br>
<br>






<div class="container">
  <mat-card class="parent">
    <b>Update Personal Information</b>
  </mat-card>

  <mat-card class="card">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="updatePatientProfile()">
        <mat-icon>person</mat-icon>
        Update Personal Information
      </button>
    </div>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="updatePatientForm()">
        <mat-icon>edit</mat-icon>
        Update Medical Form
      </button>
    </div>

    <div class="button-container">
      <button mat-raised-button color="warn" (click)="onDeletePatient()">
        <mat-icon>delete</mat-icon>
        Delete Account
      </button>
    </div>

    <div class="button-container">
      <button mat-raised-button color="warn" (click)="onDeletePatientForm()">
        <mat-icon>delete_outline</mat-icon>
        Delete Medical Form
      </button>
    </div>
  </mat-card>
</div>
