<mat-card class="parent">
    <mat-card-content class="child">
  
      <div class="header">C is a general-purpose computer programming language.
        It was created in the 1970s by Dennis Ritchie, and remains very widely
        used and influential. By design, C's features cleanly reflect the capabilities of the targeted
        CPUs.
  
        <h1>header</h1>
      </div>
  
      <div class="body">
        <div class="child2">
          <h1>child2</h1>
          C is a general-purpose computer programming language. It was created in the 1970s by Dennis Ritchie, and remains
          very widely used and influential. By design, C's features cleanly reflect the capabilities of the targeted CPUs.
        </div>
        <div class="child3">
          <h1>child3</h1>
          C is a general-purpose computer programming language. It was created in the 1970s by Dennis Ritchie, and remains
          very widely used and influential. By design, C's features cleanly reflect the capabilities of the targeted CPUs.
        </div>
      </div>
  
      <div class="footer">
        <h1>footer</h1>
        C is a general-purpose computer programming language. It was created in the 1970s by Dennis Ritchie, and remains
        very widely used and influential. By design, C's features cleanly reflect the capabilities of the targeted CPUs.
      </div>
  
    </mat-card-content>
  </mat-card>
  
  