<div >
  <mat-card *ngFor="let appointment of bookedAppointments" >
    <mat-card-content>
      <p> {{ appointment.name }}</p>
     
      <!-- View Profile and Book Appointment buttons -->
      <div >


        <button mat-button color="accent" (click)="saveDocId(appointment.id)">Chat</button>

      </div>
    </mat-card-content>
  </mat-card>
  </div>
<h1>spiderman</h1>




<div>
  <h3>Chat With Doctor</h3>
  <div>
    <!-- Chat Input Section -->
    <div>
      <mat-card>
        <mat-form-field>
          <textarea matInput placeholder="Enter your message" [(ngModel)]="newMessage" rows="3"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="sendMessage()">Send</button>
      </mat-card>
    </div>

    <!-- Chat Messages Section -->
    <div>
      <div>
        <div *ngFor="let message of messages">
          <mat-card>
            <p>{{ message }}</p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>