<div class="container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Messages</h2>
      <button class="icon-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon"
        >
          <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"></path>
          <path d="m15 5 4 4"></path>
        </svg>
      </button>
    </div>
    <div class="search-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="search-icon"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </svg>
      <input
        type="search"
        placeholder="Search messages..."
        class="search-input"
      />
    </div>
    <div class="contact-list">
      <div
        class="contact-card"
        *ngFor="let appointment of bookedAppointments"
        [class.selected]="appointment.id === selectedAppointmentId"
        (click)="saveDocId(appointment.id)"
      >
        <div class="contact-card-content">
          <img
            src="assets/avatars/{{ appointment.id }}.jpg"
            alt="profile picture"
          />
          <h3>{{ appointment.name }}</h3>
        </div>
      </div>
    </div>
  </aside>
  <section class="chat-section">
    <main class="chat-main" #chatContainer>
      <div class="message received" *ngFor="let chat of chats">
        <div class="message-content" *ngIf="chat.message">
          <p>{{ chat.message }}</p>
        </div>
      </div>
      <div class="message sent" *ngFor="let message of messages">
        <div class="message-content">
          <p>{{ message }}</p>
        </div>
      </div>
    </main>
    <footer class="chat-footer" *ngIf="selectedAppointmentId">
      <button
        class="icon-button"
        (click)="sendEmoji()"
        style="font-size: 1.5rem; cursor: pointer"
      >
        👍
      </button>
      <input
        type="text"
        (keydown.enter)="sendMessage()"
        placeholder="Type a message..."
        class="message-input"
        [(ngModel)]="newMessage"
      />
      <button class="send-button" (click)="sendMessage()">Send</button>
    </footer>
  </section>
</div>
