<!-- topbar code -->
<div id="nav" class="toolbar" color="primary">
  <h1>
    <img
      src="https://i.ibb.co/NKnJZ5L/download.png"
      alt="logo"
      width="40"
      height="40"
      style="
        background-color: transparent;
        margin-top: 0.25vw;
        margin-left: 0.5vw;
      "
    />
  </h1>
  <!-- <h1 class="jello-vertical">HealthLink 360</h1> -->

  <h1><a class="nav-link" (click)="goBack()">Back</a></h1>
  <h1><a class="nav-link" routerLink="/patient/medicalStore">Medicines</a></h1>
  <h1><a class="nav-link" routerLink="/patient/docsearch">Our Doctors</a></h1>
</div>

<br />
<br />
<br />

<div class="card-container">
  <mat-card class="card" *ngFor="let test of tests">
    <div class="card-image-container">
      <img
        mat-card-image
        src="https://nexthealth.pk/uploads/thumbs/1229.png"
        alt="Test Image"
      />
    </div>
    <br />
    <mat-card-header class="card-content">
      <mat-card-title>{{ test.name }}</mat-card-title>
      <mat-card-subtitle>{{ test.lab_name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Price:</strong> {{ test.price }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" [href]="test.link" target="_blank"
        >View Test</a
      >
      <a
        mat-button
        color="primary"
        href="https://www.google.com/maps/dir//Chughtai+Lab,+186-B+Minar+Road%D8%8C+near+SAPNA+CLOTH+DEPOT+UNDER+THE+READ+CHILI+BURGER,+Wah+Cantt,+Rawalpindi,+Punjab+46000/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x38dfa6fb8190658d:0xa6776386c19239fb?sa=X&ved=1t:57443&ictx=111"
        target="_blank"
        >Show map</a
      >
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator
  [length]="totalRecords"
  [pageSize]="10"
  (page)="onPageChange($event)"
>
</mat-paginator>
