/* top bar css */
.toolbar h1:nth-last-child(2) {
  margin-left: auto;
}

/* targets the last h1 element inside an element with the class .
                         toolbar and pushes it to the far right side by applying margin-left: auto; */

.nav-link {
  color: inherit;
  /* Inherit the color from its parent element */
  text-decoration: none;
  /* Remove underline */


}

.toolbar {
  display: flex;
  flex-wrap: wrap;  
  height:50px; 
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0px rgba(0, 0, 0, 0.05);
  position:relative;
  top:12px;
}

.toolbar h1 {
  margin-right: 20px;
}

#recordsButton {
  width: 10vw;
  height: 2hw;
  padding:0px;
  margin:0px;
  margin-right: 1vw;
}

.recordButtons {
  margin-top: 2vw;
  margin-left: 3vw;
}

#recordsButton2  {
  width: 1vw;
  height: 1hw;
 margin-left: 10vw;
  margin:0px;
}

#recordsButton2 mat-icon
{
position: relative;
left:4px;
top:4x;
}


.nav-link{
  color: inherit; /* Inherit the color from its parent element */
 text-decoration: none; /* Remove underline */
cursor:pointer;

}


.parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  .child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .header {
  
    order: -1;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .row {
    display: flex;
    /* flex-wrap: wrap; */
  }

  div.col{
    margin-left: 1vw;
    

  }

  #video-wrapper {
    height: 10px;
  
  }
  
 #trans {
  height: 450px;
 }
  
  .child2 {
  
    margin: 5px;
    width: 345px; /* Set the width as desired */
    height: 365px; /* Set the height as desired */
    overflow: auto; /* Allow content to expand/contract, show scrollbars if needed */


  }

  .middle
  {
  
    margin: 5px;
    width: 500px; /* Set the width as desired */
    height: 200px; /* Set the height as desired */

  }
  
  .child3 {
    left: 269px;
    position: relative;
    right: -269px;
    top: 1px;
   
  }
  

  /* css for consulation notes */



/* Set width of textarea */
.full-width {
  width: 100%;
}

video#local-video {
	border-radius: 15px;
	bottom: 147px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	left: 296px;
	max-height: 100px;
	max-width: 100%;
	object-fit: contain;
	position: relative;
	right: -220px;
	top: -237px;
	transform: matrix(1, 0, 0, 1, 0, 130.667);
}

video#remote-video {
	border-radius: 15px;
	bottom: 147px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	left: 53px;
	max-height: 300px;
	max-width: 100%;
	object-fit: contain;
	position: relative;
	right: -71px;
	top: -123px;
	transform: matrix(1, 0, 0, 1, 0, 130.667);
}



div.row.p-2 {
	bottom: 46px;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 380px;
}

.folloWUP
{
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
}

/* Style for the streaming list items */
.stream-list {
  list-style-type: none;
  padding-left: 0;
}

.stream-list li {
  white-space: normal;
}

.stream-list li {
  overflow: hidden;
  white-space: nowrap;
  animation: stream 5s linear;
}

/* Animation to create the streaming effect */
@keyframes stream {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.item
{
  width:200px;
}


.fileUpload
{
  width:200px;
  display:flex;
  flex-direction: column;
}

.image-size {
  max-width: 100%; /* or a specific width, e.g. 300px */
  max-height: 100%; /* or a specific height, e.g. 200px */
  object-fit: cover; /* or contain, depending on your needs */
  width:500px;
}