

<!-- Only show the following content if the user is a doctor -->
<div >
  <!-- Additional content for doctors only -->
  
    <mat-card-content class="child">
  
      <div class="header">

        <!-- topbar code -->

  <div>
    <mat-toolbar class="toolbar" >
      <h1><img src="https://i.ibb.co/NKnJZ5L/download.png" alt="logo" width="35" height="35" style="background-color: transparent; margin-top: 0.25vw; margin-left: 0.5vw;margin-right: 1.5vw;" /></h1>
     
    
      <h1><a class="nav-link" (click)="goBack()">Back</a></h1>
      <h1><a class="nav-link" routerLink="/find-doctors">Medicines</a></h1>
      <h1><a class="nav-link" routerLink="/find-doctors">Lab Tests</a></h1>
    
      
    </mat-toolbar>

  </div>   

  <br>


      </div>
  
      
      <div class="body">
        <div class="row">
          <div class="col">
            <div class="child2">
              <h1></h1>
              <!-- file-upload.component.html -->
              <div *ngIf="viewRecords">
                <div *ngFor="let record of results">
                  <img *ngIf="record.past_records && isImage(record.past_records)" 
                       src="{{ record.past_records }}" 
                       alt="Past Records" 
                       class="image-size">
                  <a *ngIf="record.past_records && !isImage(record.past_records)" 
                     href="{{ record.past_records }}" 
                     target="_blank">
                    <i class="fa fa-file-pdf" aria-hidden="true"></i> {{ getFileExtension(record.past_records) }}
                  </a>
                </div>
              </div>
            
            </div>
            <div class="recordButtons">
            <button id="recordsButton" mat-raised-button color="primary" (click)="viewRecords=true">Med Records</button>
            <button id="recordsButton2"  mat-raised-button color="warn" (click)="viewRecords=false"><mat-icon>close</mat-icon></button>
          </div>
          </div>

          <div class="col">
            <div class="middle">
              <div class="container-fluid">
                <div class="row">
                  <div class="col text-center">
                    <div id="video-wrapper">
                      <video #remoteVideo id="remote-video" poster="./assets/video-placeholder.jpg" autoplay playsinline ></video>
                      <video #localVideo id="local-video" autoplay playsinline [muted]=true ></video>
                    </div>
                  </div>
                </div>
               
               
              </div>
              <div class="row p-2">
                <button mat-raised-button color="primary" class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(false)">Start Call</button>
                <button mat-raised-button class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(true)">Join Call</button>
                <button mat-raised-button color="warn" class="m-2" [disabled]="!(isCallStarted$ | async)" (click)="endCall()">End Call</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="trans" class="child2">
  
              <div *ngIf="transResponse && (transResponse.key_points.length > 0 || transResponse.likely_diagnoses.length > 0 || transResponse.followup_questions.length > 0)">
                <h2>Key Points</h2>
                <ul class="stream-list">
                  <li *ngFor="let point of transResponse.key_points">{{ point }}</li>
                </ul>
                <ul *ngIf="loading">
                  <li>
                    <div class="loading">
                      <div class="item">
                        <ngx-skeleton-loader count="5" appearance="line" ></ngx-skeleton-loader>
                        <!-- above line will produce the rendering of 5 circles with the pulse animation and the aria-valuetext attribute set with "This item is actually loading..." -->
                      </div>
                    </div>
                  </li>
                </ul>
              
                <div class="folloWUP">
                  <h2>Follow-up Questions</h2>
                  <ul class="stream-list">
                    <li *ngFor="let question of transResponse.followup_questions">{{ question }}</li>
                  </ul>
                  
                  <ul *ngIf="loading">
                    <li>
                      <div class="loading">
                        <div class="item">
                          <ngx-skeleton-loader count="5" appearance="line" ></ngx-skeleton-loader>
                          <!-- above line will produce the rendering of 5 circles with the pulse animation and the aria-valuetext attribute set with "This item is actually loading..." -->
                        </div>
                        </div>

                    </li>
                  </ul>
              </div>

              <h2>Live Possible Causes</h2>
              <ul class="stream-list">
                <li *ngFor="let question of transResponse.likely_diagnoses">{{ question }}</li>
              </ul>
              <ul *ngIf="loading">
                <li>
                  <div class="loading">
                    <div class="item">
                      <ngx-skeleton-loader count="5" appearance="line" ></ngx-skeleton-loader>
                      <!-- above line will produce the rendering of 5 circles with the pulse animation and the aria-valuetext attribute set with "This item is actually loading..." -->
                    </div>
                    </div>

                </li>
              </ul>

            </div>

            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col">
            <div class="child3">
            <mat-card class="custom-note-card">
              <mat-card-header>
                <mat-card-title>Consultation Notes</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Note</mat-label>
                  <textarea matInput placeholder="Type your note here" class="full-width" [(ngModel)]="notesSave"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onSendDocNotes()">Save</button>
              </mat-card-content>
            </mat-card>
            </div>
          </div> -->
          <div class="col">
            <div  class="child3">
              <h1></h1>
                 {{emotions}}
            </div>
          </div>
          <!-- <div class="col">
            <div class="child3">
              <h1></h1>

          
              
            </div>
          </div> -->
        </div>
      </div>
    </mat-card-content>
 
