<div   class="container">
    <div class="bounce-in-left">
      <mat-card class="card">
        <mat-card-header>
  
          <mat-card-title>Signup</mat-card-title>
          <mat-card-title>Welcome to HealthLink360</mat-card-title>
        
        </mat-card-header>
        <br>
        <mat-card-content>
          <form >
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter your username">
              <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Enter your email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Enter your password">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Country</mat-label>
              <mat-select placeholder="Select your country">
                <mat-option value="USA">USA</mat-option>
                <mat-option value="UK">UK</mat-option>
                <mat-option value="Canada">Canada</mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-radio-group>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
    
            <button mat-raised-button color="primary">Sign Up</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
    
  