<div class="card-container"  >
    <mat-card class="card">
        <div class="card-image-container">
        <img  class="slide-in-blurred-left" mat-card-image src="https://www.practostatic.com/consumer-home/desktop/images/1597423628/dweb_instant_video_consulation.png" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-header class="card-content">
            <mat-card-title  class="slide-in-blurred-left">Instant Video Consultation</mat-card-title>
            <mat-card-subtitle  class="slide-in-blurred-left">connect within 20 seconds</mat-card-subtitle>
        </mat-card-header>

    </mat-card>

    <mat-card class="card">
        <div class="card-image-container">
        <img  class="slide-in-blurred-left" mat-card-image src="https://www.practostatic.com/consumer-home/desktop/images/1597423628/dweb_find_doctors.png" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-header class="card-content">
            <mat-card-title  class="slide-in-blurred-left">Find Doctors Near You</mat-card-title>
            <mat-card-subtitle  class="slide-in-blurred-left">Confirmed appointments</mat-card-subtitle>
        </mat-card-header>

    </mat-card>

</div>