<!-- breadcrumb code -->

<div class="breadcrumb">
    <mat-icon style="position: relative;left: -7px;top: 3px;">home</mat-icon><h1>></h1><p class="bcrumb">Dashboard</p>
</div>


<!-- welcome card -->

<div class="welcomediv">
<div class="wcard">
    <img lazyLoad  src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/welcome.png" alt="" class="wimage">
    <div >
        <h4> Welcome back <div class="wname">Atiq Ur Rehman!</div></h4>
        <p>
            We would like to take this opportunity to welcome you to our practice and to
             thank you for choosing our physicians to participate in your healthcare. We look forward to 
             providing you with personalized, comprehensive health care focusing on wellness and prevention.
            </p>
    </div>
</div>
</div>

<!-- patient health metrices cards -->

<div class="metricCards">
<div class="metric">
    <div class="mcard">
     
       <img lazyLoad class="mimage" src="https://play-lh.googleusercontent.com/umhQAisu6vYe9oEiNSqr02H2nkT3iPtgYFye2E-VKZraV9Wcsk_kPSln7KnHiDRXHXo=w240-h480-rw">
    
       <div >
        <h4 class="mname"> Blood Pressure <div class="mscore">110/70</div></h4>
        <p class="mstat">
            <mat-icon >trending_up</mat-icon>10% Higher Then Last Month
            </p>
    </div>

    </div>

</div>

<div class="metric">
    <div class="mcard">
        <img lazyLoad class="mimage" src="https://play-lh.googleusercontent.com/umhQAisu6vYe9oEiNSqr02H2nkT3iPtgYFye2E-VKZraV9Wcsk_kPSln7KnHiDRXHXo=w240-h480-rw">
    
       <div >
        <h4 class="mname"> Blood Pressure <div class="mscore">110/70</div></h4>
        <p class="mstat">
            <mat-icon >trending_up</mat-icon>10% Higher Then Last Month
            </p>
    </div>
        </div>

</div>

<div class="metric">
    <div class="mcard">
        <img lazyLoad class="mimage" src="https://play-lh.googleusercontent.com/umhQAisu6vYe9oEiNSqr02H2nkT3iPtgYFye2E-VKZraV9Wcsk_kPSln7KnHiDRXHXo=w240-h480-rw">
    
       <div >
        <h4 class="mname"> Blood Pressure <div class="mscore">110/70</div></h4>
        <p class="mstat">
            <mat-icon >trending_up</mat-icon>10% Higher Then Last Month
            </p>
    </div>

    </div>

</div>

<div class="metric">
    <div class="mcard">
        <img lazyLoad class="mimage" src="https://play-lh.googleusercontent.com/umhQAisu6vYe9oEiNSqr02H2nkT3iPtgYFye2E-VKZraV9Wcsk_kPSln7KnHiDRXHXo=w240-h480-rw">
    
       <div >
        <h4 class="mname"> Blood Pressure <div class="mscore">110/70</div></h4>
        <p class="mstat">
            <mat-icon >trending_up</mat-icon>10% Higher Then Last Month
            </p>
    </div>

    </div>

</div>
</div>

<div class="vmetrices">
    <div class="bodychart">
    <app-bodychart></app-bodychart>
    </div>

    <div class="barparent">
    <div class="barchart">
        <app-barchart></app-barchart>
    </div>
   </div>

</div>

<div class="appointmentsTab">
    <app-ptabs></app-ptabs>
 </div>





