<div *ngIf="onbookAppointment">
    <label>For appointment booking : </label><br>
      <label for="start">Start:</label>
      <input type="datetime-local"  [(ngModel)]="appointmentData.start">
    </div>
    
    <div *ngIf="onupdateAppointment">
      <h1>Update appointment:</h1>
      <div>
        <label for="start">Start:</label>
        <input type="datetime-local" [(ngModel)]="appointmentData.start">
      </div>
    
    </div>
    
    
    
    <div>
         <h1>Your booked apointment is </h1>
         <div *ngFor="let bookedAppoint of bookedAppointments">
             <p>{{bookedAppoint.start}}</p>
             <p>{{bookedAppoint.end}}</p>
             <p>{{bookedAppoint.status}}</p>
             <p>
              <button (click)="onUpdateAppointment(bookedAppoint.appointment_id,bookedAppoint.doctor)">update appointment</button>
             </p>
            
          </div> 
         </div>
    

    