<div class="login-page">
  <div class="container">
    <div class="bounce-in-left">
      <mat-card class="card">
        <img src="assets/logo.svg" alt="logo" />

        <mat-card-content>
          <form [formGroup]="form" (submit)="submit()">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                type="email"
                placeholder="name@example.com"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                type="password"
                placeholder="Password"
                value="ahmed"
              />
            </mat-form-field>

            <button mat-flat-button type="submit" color="primary">Login</button>
          </form>

          <div class="forgot">
            <a routerLink="/forgot">Forgot password?</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
