* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

div.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  background: linear-gradient(to right, #3F51B5, #6a5db4);

}

img {
  width: 40%;
  margin: 30px auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 60px; /* Adjust padding as needed */
  width: auto; /* Adjust width as needed, or use max-width for responsiveness */
  border-radius: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: auto; /* Adjust width as needed, or use max-width for better control */
  padding: 10px 20px; /* Provide padding for better button size */
  margin-top: 40px;
  cursor: pointer; /* Change cursor to pointer on hover */
  border: none; /* Remove border */
  border-radius: 5px; /* Optional: add border-radius for rounded corners */
}

div.forgot {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #096df1;
}