<!-- topbar code -->

<div>
  <mat-toolbar class="toolbar" color="primary">
    <h1><button  mat-icon-button><mat-icon>menu</mat-icon></button></h1>
    <h1 class="jello-vertical">HealthLink 360</h1>
   
    <h1><a class="nav-link"   routerLink="#"> Appointments</a></h1>
    <h1><a class="nav-link"  >Video Consult</a></h1>
    <h1><a class="nav-link" routerLink="/find-doctors">Medicines</a></h1>
    <h1><a class="nav-link" routerLink="/find-doctors">Lab Tests</a></h1>
  
    
  </mat-toolbar>

</div>   

<br>
<br>
<br>














<div class="card-container">
  <mat-card class="card" *ngFor="let medicine of medicines">
    <div class="card-image-container">
      <img mat-card-image [src]="medicine.image" alt="Medicine Image">
    </div>
    <br>
    <mat-card-header class="card-content">
      <mat-card-title>{{ medicine.name }}</mat-card-title>
      <mat-card-subtitle>{{ medicine.manufacturer }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Price:</strong> {{ medicine.price }}</p>
      <p><strong>Pack Details:</strong> {{ medicine.pack_details }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" [href]="medicine.link" target="_blank">Add to Cart</a>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator [length]="totalResults"
              [pageSize]="10"
              (page)="onPageChange($event)"
              aria-label="Select page">
</mat-paginator>
