<div class="container">
  <!-- City Selection -->
  <div class="selection">
    <mat-form-field>
      <mat-label>
        <mat-icon>location_on</mat-icon>
        Select City
      </mat-label>
      <mat-select [(ngModel)]="selectedCity">
        <mat-option *ngFor="let city of cities" [value]="city">{{
          city
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Search Section -->
  <div class="search-section">
    <mat-form-field class="search-bar" appearance="fill">
      <input
        matInput
        type="text"
        placeholder="Search for doctors..."
        [(ngModel)]="searchQuery"
        (input)="searchDoctors()"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let suggestion of searchSuggestions"
          [value]="suggestion"
          >{{ suggestion }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
    <button
      mat-flat-button
      color="accent"
      class="search-button"
      (click)="doctorsSearched()"
    >
      <mat-icon>search</mat-icon> Search
    </button>
  </div>

  <!-- Search Results -->
  <!-- <div *ngIf="afterSearchData && afterSearchData.length > 0" class="results">
    <mat-card class="result-card" *ngFor="let data of afterSearchData">
      <mat-card-header>
        <mat-card-title>{{ data.full_name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button
          mat-button
          color="primary"
          [routerLink]="['/doctor/about', data.user]"
        >
          View Profile
        </button>
        <p>City: {{ data.city }}</p>
        <p>Time: {{ data.start | date : "fullDate" }}</p>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!-- Additional Search Data -->
  <div
    *ngIf="afterSearchData && afterSearchData.length > 0"
    class="additional-results"
  >
    <mat-card
      *ngFor="let data of afterSearchData"
      class="additional-result-card"
    >
      <mat-card-content>
        <p>{{ data.full_name }}</p>
        <div class="profile-actions">
          <button
            mat-button
            color="primary"
            [routerLink]="['/doctor/about', data.user]"
          >
            View Profile
          </button>
          <div *ngIf="currentUserRole == 'patient'">
            <button
              mat-button
              color="accent"
              [routerLink]="['/patient/payment', data.user]"
            >
              Book Appointment
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
