<div>
    <mat-toolbar class="toolbar" color="primary">
      <h1><button  mat-icon-button><mat-icon>menu</mat-icon></button></h1>
      <h1 class="jello-vertical">HealthLink 360</h1>
     
      <h1><a class="nav-link"   routerLink="/find-doctors">Find Doctors</a></h1>
      <h1><a class="nav-link"  routerLink="/find-doctors">Video Consult</a></h1>
      <h1><a class="nav-link" routerLink="/find-doctors">Medicines</a></h1>
      <h1><a class="nav-link" routerLink="/find-doctors">Lab Tests</a></h1>
      <h1><a class="nav-link" routerLink="/find-doctors">Security & Help</a></h1>
      <h1 class="heartbeat"><button mat-raised-button  routerLink="/account">Login/Signup</button></h1>
      
    </mat-toolbar>

  </div>   



  